[workspace.package]
[package]
name = "rsp-client-eth"
description = ""
edition = "2021"

[dependencies]
bincode = "1.3.3"

# workspace
rsp-client-executor = { path = "../../crates/executor/client" }

# valida-rs
valida-rs = { git = "https://github.com/lita-xyz/valida-rs", branch = "main" }

# Statically turns off logging
log = { version = "0.4", features = ["max_level_off", "release_max_level_off"] }
tracing = { version = "0.1", features = ["max_level_off", "release_max_level_off"] }

[patch.crates-io]
# Precompile patches

wait-timeout = { git = "https://github.com/lita-xyz/wait-timeout", branch = "0.2.0-valida" }
rusty-fork = { git = "https://github.com/lita-xyz/rusty-fork", branch = "0.3.0-valida" }
is-terminal = { git = "https://github.com/lita-xyz/is-terminal", branch = "0.4.13-valida" }
cc = { git = "https://github.com/lita-xyz/cc-rs.git", branch = "1.1.18-delendum" }
blst = { git = "https://github.com/lita-xyz/blst.git", branch = "0.3.13-delendum" }
c-kzg = { git = "https://github.com/lita-xyz/c-kzg-4844.git", branch = "1.0.3-delendum" }
zstd-sys = { git = "https://github.com/lita-xyz/zstd-rs.git", branch = "zstd-sys-2.0.13-delendum" }
proptest = { git = "https://github.com/lita-xyz/proptest", branch = "1.5.0-valida" }
pprof = { git = "https://github.com/lita-xyz/pprof-rs", branch = "0.13.0-valida" }
alloy-primitives = { git = "https://github.com/lewis1revill/core", branch = "0.8.15-valida" }
