name: "PR"

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:
  fmt:
    name: "Run cargo fmt"
    runs-on: warp-ubuntu-latest-x64-4x
    steps:
      - name: "Checkout sources"
        uses: "actions/checkout@v4"

      - name: "Setup nightly toolchain"
        uses: "actions-rs/toolchain@v1"
        with:
          toolchain: "nightly"
          profile: "minimal"
          components: "rustfmt"
          override: true

      - name: "Check Rust format"
        run: |
          cargo fmt --all -- --check

  Build:
    name: "Build Reva"
    runs-on: warp-custom-big-disk
    steps:
      - name: "Checkout sources"
        uses: "actions/checkout@v4"

      - name:  "remove default rust"
        run: |     
          rustup self uninstall -y

      - name: Install Rust nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          components: clippy

      - name: "Make Dirs"
        run: |
          mkdir -p /home/runner/.local/bin
          sudo mkdir -p /valida-toolchain/
          sudo chown $(whoami):users /valida-toolchain

      - name: Get cached Valida
        uses: WarpBuilds/cache@v1.4.1
        with:
          enableCrossArchArchive: true
          key: valida-latest
          path: /valida-toolchain/
      
      - name: Setup interactive ssh session
        uses: Warpbuilds/action-debugger@v1.3
        with:
          limit-access-to-actor: false

      - name: "Confirm restore"
        run: |
          echo "Restored Valida toolchain from cache with commit hash: "`cat .valida-pin`

      - name: "Build Reva"
        run: |
          cd bin/host
          cargo +valida build --target=x86_64-unknown-linux-gnu --release

      - name: "Build eth-client"
        run: |
          cd bin/client-eth
          cargo +valida build --release

      - name: "Run Reva Tests"
        run: |
          ./scripts/test-client.sh
